@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  *.,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 500;
    font-size: 18px;
  }
  #card-wrapper {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    overflow: hidden;
  }
}
input::-webkit-outer-spin-button input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}
